{:dependencies
 [[com.pitch/uix.core "1.4.8"]
  [com.pitch/uix.dom "1.4.8"]]
 :source-paths ["src" "resources"]
 :dev-http {3000 "public"}
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :compiler-options {:optimizations :advanced}
        :modules {:main {:init-fn app.main/init}}}}}
